@font-face {
    src:url('Genjiro-JRymx.otf');
}
.he{
    -fx-font-size: 50px;
    -fx-font-family:'Genjiro'!important;
    -fx-text-fill:black;
}
.main{
    -fx-font-size: 70px;
    -fx-font-family:'Genjiro'!important;
    -fx-text-fill:black;
}
.topbg{
    -fx-background-color: linear-gradient(to right, #0A4D68,#088395,#05BFDB,#00FFCA);
}
.topbtns{
    -fx-background-color: transparent!important;
}
.topbtns:hover{
    -fx-background-color: transparent;
    -fx-fill:white;
}
.searchbar{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent black transparent;
}
GridPane {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-padding:10px;
    -fx-alignment: center;
}
.ScrollPane{
}